body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1366px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 0 10px;
}


/*SECTION 2 DESIGH BY TUNDE*/

.head-part2 {
    position: absolute;
    width: 1792px;
    height: 1972px;
    left: 0px;
    top: 1944px;
    background: #000000;
}

.arrow {
    width: 60px;
    height: 29px;
    left: 1479px;
    top: 1966px;
    border: 5px solid #d66939;
}

h3 {
    width: 455px;
    height: 59px;
    left: 665px;
    top: 2023px;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.part2-paragraph {
    width: 1390px;
    height: 38px;
    left: 224px;
    top: 2112px;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 106.07%;
    /* or 38px */
    text-align: center;
    letter-spacing: 0.01em;
    color: #ffffff;
}

h2 {
    width: 338px;
    height: 78px;
    left: 1021px;
    top: 2404px;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    color: #ffffff;
}

p {
    width: 578px;
    height: 88px;
    left: 1021px;
    top: 2511px;
    font-family: Calibri;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
}

button {
    width: 482px;
    height: 59px;
    left: 1026px;
    top: 2737px;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    text-align: center;
    color: #000000;
    width: 491px;
    height: 96px;
    left: 1021px;
    top: 2719px;
    background: #d66939;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.row {
    display: flex;
    grid-gap: 30px:
}