body {
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

.container {
    width: 1366px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 0 10px;
}

.facilities {
    font-size: 40px;
    color: black;
}

.third {
    background: #ffffff;
}

.heading {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

p {
    text-align: center;
    margin-top: -30px;
}

.intro {
    font-size: 25px;
    margin-top: 20px;
}

.btn-gallery {
    margin: 40%;
    height: 55px;
    width: 300px;
    margin-top: 5px;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid #d66939;
    background-color: #d66939;
}

.contact-us {
    font-size: 30px;
    text-align: center;
    margin-top: -60vh;
    color: black;
}

img {
    width: 350px;
    height: 350px;
}

.figcaption {
    margin-bottom: 35px;
}

.col-md-3 {
    margin: 20px auto;
}


/*SECTION 4 STYLES*/

#fourth {
    margin-top: 23px;
}

h2 {
    color: #ffffff;
    margin-left: 40px;
}

.identity {
    background: #d66939;
}

.details {
    background: #d66939;
    border: 2px solid#ffffff;
    box-sizing: border-box;
    margin-bottom: 30px;
    height: 50px;
    width: 500px;
    margin-left: 40px;
}

input::placeholder {
    color: #ffffff;
    font-size: 20px;
    margin-left: 10px;
}

.placeholder {
    color: #ffffff;
}

.send {
    color: #d66939;
    background: #ffffff;
    border: 1px solid#ffffff;
    margin-top: 7px;
    margin-bottom: 15px;
    width: 90px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 40px;
}

.flex-container3 {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    margin: 40px 40px;
    background-color: #ffffff;
}

.contact1,
.contact3,
.contact2 {
    margin-top: 6px;
    margin-bottom: 15px;
    font-weight: bold;
}

.contact2 {
    font-weight: bold;
}

.contact-icon {
    display: flex;
    margin-bottom: 35px;
}

.contact-img {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

.help {
    color: #d66939;
    font-size: 20px;
    margin-top: -5px;
}

.link1 {
    margin-top: -1px;
}

.social {
    margin-right: -1vw;
    margin-top: -25vh;
    width: 65px;
}

.social-icons {
    float: right;
    display: flex;
    margin-right: -18vh;
}

.follow {
    color: #d66939;
    margin-bottom: 15vh;
    float: right;
    margin-right: 75px;
    margin-top: -70px;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}